@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #3198FF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #548ABF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #586C80;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFB230;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #AA8C59;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
